html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 22px; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }
  p small {
    font-size: 11px;
    color: #999999; }

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999; }

h1 {
  font-size: 30px;
  line-height: 36px; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 24px;
  line-height: 36px; }
  h2 small {
    font-size: 18px; }

h3 {
  line-height: 27px;
  font-size: 18px; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 14px; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase; }

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee; }

.page-header h1 {
  line-height: 1; }

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 18px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 18px; }

dt,
dd {
  line-height: 18px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 9px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.muted {
  color: #999999; }

abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px; }
  blockquote small {
    display: block;
    line-height: 18px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid #eeeeee; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal; }

small {
  font-size: 100%; }

cite {
  font-style: normal; }

body {
  font-family: Helvetica; }

a {
  font-weight: bold;
  color: #0088cc;
  text-decoration: none; }
  a:hover {
    color: #05486a; }

html.no-csstransforms3d nav {
  z-index: 4; }
html.no-csstransforms3d #box {
  position: relative;
  z-index: 3; }
html.no-csstransforms3d #box section {
  float: left;
  width: 700px;
  background-color: #111; }
html.no-csstransforms3d #social-media {
  margin-top: 0px;
  z-index: 3;
  clear: left;
  background-color: #111;
  position: relative;
  float: left; }

html.csstransforms3d .container {
  width: 700px;
  height: 500px;
  position: absolute;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }
html.csstransforms3d #box {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }
html.csstransforms3d #box section {
  display: block;
  position: absolute;
  border: 0px solid black; }
html.csstransforms3d #box .front,
html.csstransforms3d #box .back {
  width: 700px;
  height: 500px; }
html.csstransforms3d #box .right,
html.csstransforms3d #box .left {
  width: 700px;
  height: 500px;
  left: 0px; }
html.csstransforms3d #box .top,
html.csstransforms3d #box .bottom {
  width: 700px;
  height: 700px;
  top: 100px; }
html.csstransforms3d #box .front {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .back {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .right {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .left {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .top {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .bottom {
  background-color: rgba(0, 0, 0, 0.6); }
html.csstransforms3d #box .front {
  -webkit-transform: translateZ(350px);
  -moz-transform: translateZ(350px);
  -ms-transform: translateZ(350px);
  -o-transform: translateZ(350px);
  transform: translateZ(350px); }
html.csstransforms3d #box .back {
  -webkit-transform: rotateX(-180deg) translateZ(350px);
  -moz-transform: rotateX(-180deg) translateZ(350px);
  -ms-transform: rotateX(-180deg) translateZ(350px);
  -o-transform: rotateX(-180deg) translateZ(350px);
  transform: rotateX(-180deg) translateZ(350px); }
html.csstransforms3d #box .right {
  -webkit-transform: rotateY(90deg) translateZ(350px);
  -moz-transform: rotateY(90deg) translateZ(350px);
  -ms-transform: rotateY(90deg) translateZ(350px);
  -o-transform: rotateY(90deg) translateZ(350px);
  transform: rotateY(90deg) translateZ(350px); }
html.csstransforms3d #box .left {
  -webkit-transform: rotateY(-90deg) translateZ(350px);
  -moz-transform: rotateY(-90deg) translateZ(350px);
  -ms-transform: rotateY(-90deg) translateZ(350px);
  -o-transform: rotateY(-90deg) translateZ(350px);
  transform: rotateY(-90deg) translateZ(350px); }
html.csstransforms3d #box .top {
  -webkit-transform: rotateX(90deg) translateZ(250px);
  -moz-transform: rotateX(90deg) translateZ(250px);
  -ms-transform: rotateX(90deg) translateZ(250px);
  -o-transform: rotateX(90deg) translateZ(250px);
  transform: rotateX(90deg) translateZ(250px);
  -webkit-transform: rotateX(90deg) translateZ(450px);
  -moz-transform: rotateX(90deg) translateZ(450px);
  -ms-transform: rotateX(90deg) translateZ(450px);
  -o-transform: rotateX(90deg) translateZ(450px);
  transform: rotateX(90deg) translateZ(450px); }
html.csstransforms3d #box .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(250px);
  -moz-transform: rotateX(-90deg) translateZ(250px);
  -ms-transform: rotateX(-90deg) translateZ(250px);
  -o-transform: rotateX(-90deg) translateZ(250px);
  transform: rotateX(-90deg) translateZ(250px);
  -webkit-transform: rotateX(-90deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) translateZ(50px);
  -o-transform: rotateX(-90deg) translateZ(50px);
  transform: rotateX(-90deg) translateZ(50px); }
html.csstransforms3d #box.show-front {
  -webkit-transform: translateZ(-350px);
  -moz-transform: translateZ(-350px);
  -ms-transform: translateZ(-350px);
  -o-transform: translateZ(-350px);
  transform: translateZ(-350px); }
html.csstransforms3d #box.show-back {
  -webkit-transform: translateZ(-350px) rotateX(-180deg);
  -moz-transform: translateZ(-350px) rotateX(-180deg);
  -ms-transform: translateZ(-350px) rotateX(-180deg);
  -o-transform: translateZ(-350px) rotateX(-180deg);
  transform: translateZ(-350px) rotateX(-180deg); }
html.csstransforms3d #box.show-right {
  -webkit-transform: translateZ(-350px) rotateY(-90deg);
  -moz-transform: translateZ(-350px) rotateY(-90deg);
  -ms-transform: translateZ(-350px) rotateY(-90deg);
  -o-transform: translateZ(-350px) rotateY(-90deg);
  transform: translateZ(-350px) rotateY(-90deg); }
html.csstransforms3d #box.show-left {
  -webkit-transform: translateZ(-350px) rotateY(90deg);
  -moz-transform: translateZ(-350px) rotateY(90deg);
  -ms-transform: translateZ(-350px) rotateY(90deg);
  -o-transform: translateZ(-350px) rotateY(90deg);
  transform: translateZ(-350px) rotateY(90deg); }
html.csstransforms3d #box.show-top {
  -webkit-transform: translateZ(-250px) rotateX(-90deg);
  -moz-transform: translateZ(-250px) rotateX(-90deg);
  -ms-transform: translateZ(-250px) rotateX(-90deg);
  -o-transform: translateZ(-250px) rotateX(-90deg);
  transform: translateZ(-250px) rotateX(-90deg); }
html.csstransforms3d #box.show-bottom {
  -webkit-transform: translateZ(-250px) rotateX(90deg);
  -moz-transform: translateZ(-250px) rotateX(90deg);
  -ms-transform: translateZ(-250px) rotateX(90deg);
  -o-transform: translateZ(-250px) rotateX(90deg);
  transform: translateZ(-250px) rotateX(90deg); }

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px; }

#social-media {
  padding: 10px 20px;
  float: left;
  margin-top: 200px;
  margin-bottom: 30px; }

div[role=main] {
  left: 352px;
  bottom: 50px; }
  div[role=main] section {
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 40px; }

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 30px;
  width: 300px;
  text-align: right;
  text-indent: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #333333;
  line-height: 30px; }

#gallery {
  text-align: center;
  overflow: hidden;
  padding: 0px; }
  #gallery ul {
    margin-top: 20px; }
  #gallery li {
    list-style-type: none;
    display: inline; }
    #gallery li a {
      width: 100px;
      height: 100px;
      float: right;
      text-align: center;
      margin-right: 20px;
      margin-bottom: 20px; }
      #gallery li a img {
        -webkit-transition: opacity 0.2s ease-in; }
      #gallery li a:hover img {
        opacity: 0.4; }
  #gallery > img {
    height: 100%; }

@media only screen and (max-device-width: 419px) {
  #social-media {
    display: none; }

  div[role="main"] {
    left: 10px;
    top: 150px; }

  footer {
    display: none; } }
html {
  height: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }

body {
  background-color: #000;
  color: white; }

nav {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 30px; }
  nav ul li a {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 40px;
    line-height: 30px;
    color: #fff; }
    nav ul li a span {
      background: transparent url(/images/arrow.png) no-repeat top left;
      position: absolute;
      opacity: 0;
      height: 20px;
      width: 20px;
      left: -20px;
      top: 5px;
      display: block;
      -webkit-transition: left 0.2s ease-in, opacity 0.1s ease-in; }
    nav ul li a:hover span {
      opacity: 1;
      left: 0px; }

h3 {
  color: #ccc;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.6); }

.col {
  float: left;
  margin-right: 20px; }

.last {
  margin-right: 0px; }

.front .col-one, .back .col-one {
  width: 300px; }

h3 {
  margin-bottom: 16px; }

#home header {
  text-align: center; }
  #home header img {
    margin-bottom: 30px; }
#home dl {
  overflow: hidden;
  margin-bottom: 0px; }
#home dd {
  font-size: 13px;
  float: left;
  clear: left;
  margin-left: 0px;
  padding: 4px 0px; }
#home dt {
  font-size: 13px;
  float: right;
  clear: right;
  font-weight: normal;
  padding: 4px 0px; }
#home a {
  text-shadow: 1px 1px 1px black; }
#home #contact {
  margin-left: 0px; }
  #home #contact li {
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 24px;
    list-style-type: none;
    background: transparent url(/images/icons.png) no-repeat top left; }
    #home #contact li address {
      margin-bottom: 0px; }
    #home #contact li.tel {
      background-position: 0px -200px; }
    #home #contact li.email {
      background-position: 0px -100px; }

section.menu-items .col-one {
  width: 300px; }
section.menu-items ul {
  background: transparent url(/images/arrow.png) no-repeat top left;
  margin-left: 0px;
  padding-left: 35px;
  margin-bottom: 20px; }
section.menu-items li {
  list-style-type: none;
  font-size: 12px;
  clear: both; }
  section.menu-items li.header {
    font-weight: bold;
    margin-bottom: 1em; }
  section.menu-items li span {
    float: right; }
section.menu-items p {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 1em; }
section.menu-items p.foot {
  padding-top: 40px;
  clear: both;
  text-align: center; }

#social-media {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ddd;
  font-size: 12px;
  -webkit-transition: background-color 0.3s ease-in;
  width: 292px; }
  #social-media:hover {
    background-color: rgba(0, 0, 0, 0.7); }
  #social-media .twitter {
    text-align: center; }
