@import "reset";
@import "typography";
@import "box";
@import "layout";
@import "partials/gallery";
@import "partials/chimney";

html {
  height: 100%;
  background: url("/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


body {
  color: white;
  overflow: hidden;
}

// Sidebar nav
nav {
  background-color: rgba(0,0,0,0.4);
  font-size: 30px;
  ul li a {
    display: block;
    position: relative;
    padding: 5px 0px 5px 40px;
    color: #fff;
    span {
      background: transparent url(/images/arrow.png) no-repeat top left;
      position: absolute;
      opacity: 0;
      height: 20px;
      width: 20px;
      left: -20px;
      top: 0px;
      display: block;
      -webkit-transition: left 0.2s ease-in, opacity 0.1s ease-in;
    }
    &:hover {
      span {
        opacity: 1;
        left: 0px;
      }

    }
  }
}

.col {
  float: left;
  margin-right: 20px;
}
.last {
  margin-right: 0px;
}

.front, .back {
  .col-one {
    width: 300px;
  }
}

h3 { margin-bottom: 16px; }
// Box front
#home {
  .roof {
    background: transparent url(/images/info-roof.png) no-repeat top left;
    width: 700px;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0px;
  }
  header {
    text-align: center;
    img { margin-bottom: 30px; }
  }
  dl {
    overflow: hidden;
    margin-bottom: 0px;
  }

  dd {
    font-size: 13px;
    float: left;
    clear: left;
    margin-left: 0px;
    padding: 4px 0px;
  }
  dt {
    font-size: 13px;
    float: right;
    clear: right;
    font-weight: normal;
    padding: 4px 0px;
  }

  #contact {
    margin-left: 0px;
    li {
      font-size: 12px;
      margin-bottom: 10px;
      padding-left: 24px;
      address { margin-bottom: 0px; }
      list-style-type: none;
      background: transparent url(/images/icons.png) no-repeat top left;
      &.tel {
        background-position: 0px -200px;
      }
      &.email {
        background-position: 0px -100px;
      }
    }
  }
}

#social-media {
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  width: 292px;

  .roof {
    background: transparent url(/images/sm-roof.png) no-repeat top left;
    width: 332px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0px;
  }
  .twitter {
    text-align: center;
  }
}