@-webkit-keyframes leftright {
  0%, 100% { margin-right: 20px; }
  50%   { margin-right: -20px; }
}
@-webkit-keyframes enlargify {
  0%, 100% { -webkit-transform: scale(1.0); }
  50% { -webkit-transform: scale(1.5); }
}
@-webkit-keyframes path-one {
  0% { top: 0px; left: 20px; }
  20% { top: -20px; left: 40px;  }
  40% { top: -100px; left: 50px; }
  60% { top: -160px; left: 100px; }
  100% { top: -200px; left: 200px; }
}

@-webkit-keyframes path-two {
  0% { top: 0px; left: 20px; }
  20% { top: -20px; left: 30px;  }
  40% { top: -80px; left: 50px; }
  60% { top: -130px; left: 120px; }
  100% { top: -200px; left: 200px; }
}

.chimney-wrap {
  position: absolute;
  top: -50px;
  right: 50px;

  .chimney {
    right: -15px;
    position: relative;
    width: 30px;
    height: 80px;
    background-color: #333;
    z-index: 3;
  }

  -webkit-transform: translateZ(-50px);
     -moz-transform: translateZ(-50px);
      -ms-transform: translateZ(-50px);
       -o-transform: translateZ(-50px);
          transform: translateZ(-50px);

  span.puff {
    z-index: 2;
    display: block;
    height: 10px;
    width: 10px;
    background-color: #999;
    position: absolute;
    top: 0px;
    left: -20px;
    border-radius: 20px;
    opacity: 0.8;

    &.path-one {
      -webkit-animation: leftright 2s infinite, enlargify 3s infinite, path-one 4s 1;
    }
    &.path-two {
       -webkit-animation: leftright 2s infinite, enlargify 3s infinite, path-two 4s 1;
    }
  }
}