#gallery {
  ul {
    margin-top: 20px;
  }
  li {
    list-style-type: none;
    display: inline;
    a {
      width: 100px;
      height: 100px;
      float: right;
      text-align: center;
      margin-right: 20px;
      margin-bottom: 20px;
      img {
        -webkit-transition: opacity 0.2s ease-in;
      }
      &:hover {
        img {
          opacity: 0.4;
        }
      }
    }
  }
  text-align: center;
  > img {
    height: 100%;
  }
  overflow: hidden;
  padding: 0px;
}